<div>
  <strong>Name:</strong>
  <%= @student.name %>
</div>

<div>
  <strong>Roll Number:</strong>
  <%= @student.roll%>
</div>



<div>
  <strong>CGPA:</strong>
  <%= @student.cgpa %>
</div>


<div>
  <strong>Section:</strong>
  <%= @student.section %>
</div>